src/blocks/web3/samples/dtd/rfc-out.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!ELEMENT include (export+, tables*)>
<!ATTLIST include
	name CDATA #REQUIRED
>
<!ELEMENT import (structure*, field*)>
<!ELEMENT export (structure*, field*)>
<!ELEMENT structure (field+)>
<!ATTLIST structure
	name CDATA #REQUIRED
>
<!ELEMENT field (#PCDATA)>
<!ATTLIST field
	name CDATA #REQUIRED
>
<!ELEMENT tables (table)*>
<!ELEMENT table (structure+)>
<!ATTLIST table
	name CDATA #REQUIRED
>
